<p>menu-section works!</p>

<div class="container">
    <div class="row" id="menuSection">
        <div class="col-md-6">
            <!-- header (h1 - h6) -->
            <h2 class="menuHeader">Menu</h2>

            <!-- How to create unordered list -->
            <ul class="manuList">
                <li class="menuItem"><a href="#">Best Sellers</a></li>
                <li class="menuItem"><a href="#">Amazon Basics</a></li>
                <li class="menuItem"><a href="#">New Releases</a></li>
                <li class="menuItem"><a href="#">Customer Service</a></li>
                <li class="menuItem"><a href="#">Prime</a></li>
            </ul>
        </div>
    </div>
</div>

